/* Style de l'en-tête */
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: greenyellow;
    color: white;
    padding: 10px 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Titre dans l'en-tête */
.header h1 {
    font-size: 24px;
    margin: 0;
}

/* Liens dans l'en-tête */
.header a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
    font-weight: bold;
    transition: color 0.3s ease-in-out;
}

/* Liens au survol */
.header a:hover {
    color: #f1c40f; 
}

/* Nom d'utilisateur */
.header p {
    margin: 0;
    font-weight: bold;
    font-size: 16px;
    color: #e8f5e9;
}

/* Dernier lien (Déconnexion) */
.header a:last-child {
    background-color: #e74c3c;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.header a:last-child:hover {
    background-color: #c0392b; 
    color: white;
}
