body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


/* Conteneur global */
.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Deux colonnes */
    grid-template-rows: auto auto auto; /* Trois lignes */
    gap: 20px; /* Espacement entre les éléments */
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Lignes et colonnes */
.l1c1, .l1c2 {
    text-align: center;
}

.l1c1 h1, .l1c2 h1 {
    font-size: 1.5em;
    color: #333;
}

.l2c1, .l2c2 {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
}

form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 300px;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

input[type="text"],
input[type="password"] {
    width: 90%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    width: 8rem;
}

input[type="submit"]:hover {
    background-color: #45a049;
}